

.game-info-container{
	height: 60px;
	display: block;
	background-color: gray;
	margin: 0 0 10px 0;
}

.section{
	width: 25%;
	display: inline-block;
	text-align: center;
	position: relative;
	color: #DDD;
	float: left;
	top: 20px;
}

.section div{
	font-weight:bold;
	color: white;
	display: inline;
}

.form-container{
	margin: 0 auto;
	text-align: center;
}

.grid-container{
	width: 80%;
	text-align: center;
}

.card{
	height:50px;
	background-color: lightyellow;
	margin: 1%;
	box-sizing: border-box;
}

.name{
	
}

